<section class="contact-section">
  <h2>CONTACT US</h2>

  <ion-list class="contact-list" lines="none">
    <ion-item class="contact-card" detail="false" href="mailto:easyuansph@gmail.com">
      <div class="contact-content">
        <ion-icon class="contact-icon" name="mail-outline"></ion-icon>
        <ion-label>easyuansph@gmail.com</ion-label>
      </div>
    </ion-item>

    <ion-item class="contact-card" detail="false" href="tel:09063071291">
      <div class="contact-content">
        <ion-icon class="contact-icon" name="call-outline"></ion-icon>
        <ion-label>09063071291</ion-label>
      </div>
    </ion-item>
  </ion-list>
</section>
